.formContainer {
    width: 80%;
    position: fixed;
    bottom: 0;
    width: 50%;
    background-color:#3D3400;
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 20px;
    margin-top: auto;

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
      input {
        flex: 1;
        width: 80%;
        outline: none;
        background-color: transparent;
        border: none;
        color: white;
        font-size: 1rem;

      }
      button{
        cursor: pointer;
        border-radius: 15px;
        padding: 4px;
        background-color: aliceblue;
      }
    }
}