.homepage {
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
   

    .left{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 15px;
        height: 100vh;
        z-index: 10;
    
        h1{
            font-size: 80px;
            background: linear-gradient(to right,#217bfe,  #e55571);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        h3{
            font-weight: 400;
            max-width: 70%;
        }
    }
    .right{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        gap: 15px;

        .imgContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #140e2d;
            position: relative;
            border-radius: 50%;

            .bgContainer{
                width: 100%;
                height: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50px;

                .bg{
                    background-image:url("/bg.png") ;
                    opacity: 0.1;
                    width: 100%;
                    height: 100%;
                    background-size: auto 100%;
                    animation: 3s ease-in-out infinite alternate bgAnimation;
                }
            }

            .bot{
                width: 90%;
                height: 90%;
                object-fit: contain;
                animation: 3s ease-in-out infinite alternate botAnimation;
            }
            .chat{
                position: absolute;
                bottom: -10px;
                right: -50px;
                display: flex;
                align-items: center;
                gap: 4px;

                .typeAnimation{
                    background-color: rgb(86, 87, 87);
                    padding: 12px;
                    border-radius: 10px;
                }
            }
        }

    }
    .orbital{
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0.05;
        animation: 100s linear infinite rotateOrbital;
    }
    

}

@keyframes bgAnimation{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

@keyframes botAnimation{
    0%{
        transform:scale(1) rotate(0deg);
    }
    100%{
        transform: scale(1.1) rotate(20deg);
    }
}

@keyframes rotateOrbital {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}


@media  screen and (min-width:500px) and (max-width:1200px){
    .homepage{
        display: flex;
        flex-direction: column;

        .left h1{
            font-size: 50px;
        }
        h2{
            font-size:20px ;
        }

        .right{
            .imgContainer{
                .chat{
                    display: none;
                }
            }
        }
    }
}

@media  screen and (max-width:500px) {
    .homepage{
        display: flex;
        flex-direction: column;

        .left h1{
            font-size: 30px;
        }
        h2{
            font-size:15px ;
        }
    }
}